DataFrame Core Practice

Task 1: Create DataFrame from Dictionary

In [42]:
import pandas as pd
import numpy as np

In [7]:
data = {
    "Name":["Ammar","Ali","Sara"],
    "Age":[19, 25, 32],
    "Salary":[100000, 50000, 40000]
}
df = pd.DataFrame(data)
print(df)

    Name  Age  Salary
0  Ammar   19  100000
1    Ali   25   50000
2   Sara   32   40000

Task 2: Access Columns

In [ ]:
print(df["Name"]) #Single Column --> Series
print(df[["Name","Salary"]]) #Multipe columns --> DataFrame

0    Ammar
1      Ali
2     Sara
Name: Name, dtype: object
    Name  Salary
0  Ammar  100000
1    Ali   50000
2   Sara   40000

Task 3: Access Rows (iloc & loc)

In [ ]:
print(df.iloc[0]) # First row by position
print(df.loc[1]) # Row with index label 1

Name       Ammar
Age           19
Salary    100000
Name: 0, dtype: object
Name        Ali
Age          25
Salary    50000
Name: 1, dtype: object

Task 4: Filter Rows

In [19]:
high_salary = df[df["Salary"] > 50000]
print(high_salary)

    Name  Age  Salary
0  Ammar   19  100000

Task 5: Add New Column

In [20]:
df["Bonus"] = [10500, 5500, 1000]
print(df)

    Name  Age  Salary  Bonus
0  Ammar   19  100000  10500
1    Ali   25   50000   5500
2   Sara   32   40000   1000

Task 6: Drop Column

In [23]:
df_droped = df.drop("Bonus", axis=1)
print(df_droped)

    Name  Age  Salary
0  Ammar   19  100000
1    Ali   25   50000
2   Sara   32   40000

Task 7: Basic Stats

In [25]:
print(df["Salary"].mean())
print(df["Age"].max())
print(df.describe())

63333.333333333336
32
             Age         Salary         Bonus
count   3.000000       3.000000      3.000000
mean   25.333333   63333.333333   5666.666667
std     6.506407   32145.502537   4752.192476
min    19.000000   40000.000000   1000.000000
25%    22.000000   45000.000000   3250.000000
50%    25.000000   50000.000000   5500.000000
75%    28.500000   75000.000000   8000.000000
max    32.000000  100000.000000  10500.000000

Scenario 1: Employee Data Filtering

In [30]:
data = {
    "Name":["Ammar","Asim","Kashif","Salman"],
    "Age":[22,32,43,33],
    "Salary":[2000,3200,3300,1000]
}
df = pd.DataFrame(data)
High_pay = df[df["Salary"]>2000]
print(High_pay)

     Name  Age  Salary
1    Asim   32    3200
2  Kashif   43    3300

Scenario 2: Handling Missing Data

In [33]:
data = {
    "Name":["Asim","Atif","Kashif","Rakif"],
    "Age":[21,43,None,33],
    "Salary":[50000, 60000, None,32000]
}
df = pd.DataFrame(data)
df["Age"] = df["Age"].fillna(df["Age"].mean())
df["Salary"] = df["Salary"].fillna(df["Salary"].mean())
print(df)

     Name        Age        Salary
0    Asim  21.000000  50000.000000
1    Atif  43.000000  60000.000000
2  Kashif  32.333333  47333.333333
3   Rakif  33.000000  32000.000000

Scenario 3: Student Result Analysis

In [35]:
data = {
    "Student":["A","B","C","D"],
    "Marks":[45,32,34,55]
}
df = pd.DataFrame(data)
passed = df[df["Marks"] > 40]
print(passed)

  Student  Marks
0       A     45
3       D     55

Scenario 4: Add Derived Column

In [38]:
df["Status"] = df["Marks"].apply(lambda a: "pass" if a >= 50 else "Fails")
print(df)

  Student  Marks Status
0       A     45  Fails
1       B     32  Fails
2       C     34  Fails
3       D     55   pass

Scenario 5: Simple Grouping

In [40]:
data = {
    "department":["IT","HR","IT","HR"],
    "Salary":[60000, 5000, 32000, 55000]
}
df = pd.DataFrame(data)

avg_salary = df.groupby("department")["Salary"].mean()
print(avg_salary)

department
HR    30000.0
IT    46000.0
Name: Salary, dtype: float64

Feature Name: Employee Salary Analysis System

In [11]:
data = {
    "Name": ["Ammar", "Ali", "Sara", "Usman", "Zain"],
    "Department": ["IT", "HR", "IT", "Finance", "HR"],
    "Age": [22, 25, None, 30, 28],
    "Salary": [50000, 60000, 55000, None, 65000]
}
df = pd.DataFrame(data)

#clean missing values
df["Age"] = df["Age"].fillna(df["Age"].mean())
df["Salary"] = df["Salary"].fillna(df["Salary"].mean())

#High salary employees identify karna
high_salaries = df[df["Salary"] >= 60000]
print(high_salaries)
max_salary = df["Salary"].max()
print(high_salary)

#Department-wise average salary nikalni
dp_sal_avg = df.groupby("Department")["Salary"].mean()
print(dp_sal_avg)

   Name Department   Age   Salary
1   Ali         HR  25.0  60000.0
4  Zain         HR  28.0  65000.0
65000.0
Department
Finance    57500.0
HR         62500.0
IT         52500.0
Name: Salary, dtype: float64

PROBLEM 1 — Employee Age Validation

In [36]:
Emp = {
    "Name":["Anas","Furqan","Talha anjum","turhan","Kashif"],
    "Age":[12,None,22,31,-21],
    "Department":["IT","Finance","Fintech","IT","CDO"],
}
df = pd.DataFrame(Emp)


# Invalid ages (≤0 ya missing) remove karo
df["Age"] = df["Age"].fillna(df['Age'].mean())
Age_val = df[df["Age"] >= 0].dropna()

#filter ages 18+
Validation_ages = Age_val[Age_val["Age"] > 18]

#Average Age calculate
Avg_age = Age_val["Age"].mean()
print(Avg_age)

19.0

PROBLEM 2 — Student Result System

In [52]:
data = {
    "student":["A","B","C","D","E","F"],
    "Marks":[45, 78, None, 90, 32, None]
}
df = pd.DataFrame(data)

#handling missing value in marks
df["Marks"] = df["Marks"].fillna(df["Marks"].mean())

# Pass marks = 50
df["Result"] = np.where(df["Marks"] >= 50, "pass", "fail")
print(df)
pass_student = df[df["Result"] == "pass"]
print(pass_student)

total_pass_student = pass_student.shape[0]
print(total_pass_student)

high_mark = df["Marks"].max()
print(high_mark)

  student  Marks Result
0       A  45.00   fail
1       B  78.00   pass
2       C  61.25   pass
3       D  90.00   pass
4       E  32.00   fail
5       F  61.25   pass
  student  Marks Result
1       B  78.00   pass
2       C  61.25   pass
3       D  90.00   pass
5       F  61.25   pass
4
90.0

PROBLEM 3 — Sales Data Analysis

In [91]:
data = {
    "Month":["Jan","Feb","Mar","Apr","May","Jun"],
    "Sales":[1200, None, 1700, 1500, None, 1500]
}
df = pd.DataFrame(data)

#handling missing values 
miss_val = df.fillna(df["Sales"].mean())

#Sales > average filter karo
miss_val["Insigh"] = np.where(miss_val["Sales"] >= 1500,"Above","low")


#high sales 
high_sale = miss_val["Sales"].mean()

best_sale = miss_val[miss_val["Sales"] > high_sale]
print(best_sale)

best_month = best_sale["Month"].iloc[0]
print(best_month)

#Overall average sales calculate karo
avg_sale = miss_val["Sales"].mean()
print(avg_sale)

  Month   Sales Insigh
2   Mar  1700.0  Above
3   Apr  1500.0  Above
5   Jun  1500.0  Above
Mar
1475.0

PROBLEM 4 — Department Salary Report

In [ ]:
data = {
    "Employee":["Ammar","Atif","Qasim","Danish","Ali"],
    "Department":["Tech","AI","Finance","Tech","AI"],
    "Salary":[120000,32000,None,44000,-120000]
}
df = pd.DataFrame(data)
#Invalid salaries remove karo
add_nul = df.fillna(df['Salary'].mean())

valid_salary = add_nul[add_nul["Salary"] >0].dropna()
print(valid_salary)

# Department-wise average salary nikaalo
dep_avg = valid_salary.groupby("Department")["Salary"].mean()
print(dep_avg)

#Highest paid employee find karo
high_pay = valid_salary["Salary"].max()
print(high_pay)

  Employee Department    Salary
0    Ammar       Tech  120000.0
1     Atif         AI   32000.0
2    Qasim    Finance   19000.0
3   Danish       Tech   44000.0
Department
AI         32000.0
Finance    19000.0
Tech       82000.0
Name: Salary, dtype: float64
120000.0