Pandas First Topic: Series

In [4]:
import pandas as pd

In [6]:

s = pd.Series([10, 20, 30 ,40])
print(s)

0    10
1    20
2    30
3    40
dtype: int64

In [8]:
s = pd.Series([10, 20, 30], index=["a","b","c"])
print(s)

a    10
b    20
c    30
dtype: int64

In [12]:
d = {"math":20,"english":97,"physics":88}
s = pd.Series(d)
print(s)

math       20
english    97
physics    88
dtype: int64

In [24]:
data = [10, 20, 30, 40, 50, 60]
s = pd.Series(data)
print(s)
print(s[2]) #value access by data index
print(s + 4) #Vectorized operation
print(s[s>35]) # Condition operation
print(s.mean())
print(s.min())
print(s.max())
print(s.dtype)

0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64
30
0    14
1    24
2    34
3    44
4    54
5    64
dtype: int64
3    40
4    50
5    60
dtype: int64
35.0
10
60
int64

Real-World Scenarios (Series)

Scenario 1: Student Marks Analysis

In [28]:
marks = pd.Series([78, 45, 89, 92, 60, 55])
print(marks[marks > 60])

0    78
2    89
3    92
dtype: int64

Scenario 2: User Age Validation

In [30]:
ages = pd.Series([15, 26, 11, 9, 45])
validation = ages[ages > 18]
print(validation)

1    26
4    45
dtype: int64

Scenario 3: Monthly Sales Average

In [31]:
sales = pd.Series([12000, 15000, 10000, 18000])
print(sales.mean())

13750.0

Scenario 4: Missing Data Handling

In [32]:
data = pd.Series([10,20,None,30])
print(data.fillna(data.mean()))

0    10.0
1    20.0
2    20.0
3    30.0
dtype: float64

Scenario 5: Feature Selection (ML)

In [42]:
dataset = {
    "age": [10,20,30,40],
    "salary": [30000, 40000, 50000, 60000]
}
df = pd.DataFrame(dataset)
age_feature = df["age"]
print(age_feature)

0    10
1    20
2    30
3    40
Name: age, dtype: int64

Feature Name: User Age Validation System

In [51]:
dataset = [12, 25, 30, -5, 40, None, 17]

#convert dataset in to pandas series
age_series = pd.Series(dataset)

#Remove invalid ages
clean_age = age_series[age_series > 0].dropna()

#validation clean ages 18+
validation_ages = clean_age[clean_age > 18]


#calculate average ages
Average_ages = validation_ages.mean()

print("Valid ages")
print(validation_ages)

print("Average ages")
print(Average_ages)

Valid ages
1    25.0
2    30.0
4    40.0
dtype: float64
Average ages
31.666666666666668

TASK 1 — Salary Validation

In [58]:
data = [25000, 40000, None, -10000, 60000, 30000]

#convert data in to series
Series_data = pd.Series(data)
print(Series_data)

#Invalid salaries remove
Invalid_data = Series_data[Series_data > 0].dropna()
print(Invalid_data)

#apply condition on data
Validation_data = Invalid_data[Invalid_data >= 30000]
print(Validation_data)

#Average calculate in data
Average_data = Validation_data.mean()
print(Average_data)

0    25000.0
1    40000.0
2        NaN
3   -10000.0
4    60000.0
5    30000.0
dtype: float64
0    25000.0
1    40000.0
4    60000.0
5    30000.0
dtype: float64
1    40000.0
4    60000.0
5    30000.0
dtype: float64
43333.333333333336

TASK 2 — Exam Result Analysis

In [ ]:
marks = [35, 55, 80,None, 90, 42, None]

#convert in to Series
marks_series = pd.Series(marks)

#Handle missing values
Missing_marks = marks_series.fillna(marks_series.mean())

#Apply condition to fail or pass
marks_con = Missing_marks[Missing_marks>50]

#count condtion marks 
count_marks = marks_con.count()
print("Total pass student is ",count_marks)

Max_marks = marks_con.max()
print("Highest marks is ",Max_marks)

Total pass student is  5
Highest marks is  90.0

TASK 3 — Daily Temperature Monitoring

In [72]:
temp = [22, 25, 30, 35, 40, None, 28]

#convert into Series
temp_series = pd.Series(temp)

#missing Temperature replace into mean
missing_temp = temp_series.fillna(temp_series.mean())

#Filter temperature should >30
filter_temp = missing_temp[missing_temp >= 30]

#calculate average temperature
average_tem = missing_temp.mean()
print(average_tem)

30.0

STEP 5 — INTERVIEW CHECK (SERIES)

• Series = 1D labeled array.
• Has index, values, and built-in functions.
• Differences: list vs Series → labels + vectorized ops + NaN handling
• Use when processing single-column data.
• Missing data handled by fillna() / dropna()
• Real-world examples: salaries, marks, temperature
• ML use: each column as Series, preprocessing step