1 Applying functions (.apply(), .map(), .applymap())

In [71]:
import pandas as pd

In [72]:
data = pd.read_csv('DataSets/datasets.csv')

In [73]:
data.columns = data.columns.str.replace(" ","").str.lower().str.strip()
data.drop_duplicates()
data.drop(columns="clicks", inplace=True)
data.dropna(inplace=True)
data.isna().sum()
clean_active = {
    'Y':1,
    'Yes':1,
    'True':1,
    'N':0,
    'No':0,
    'False':0
}
data['active'] = data["active"].replace(clean_active).astype(int)
data['spend'] = data['spend'].str.replace("$","").astype(float)
data['start_date'] = pd.to_datetime(data['start_date'], errors='coerce')
data['end_date'] = pd.to_datetime(data['end_date'], errors='coerce')
data[data['start_date'] < data['end_date']]
data.loc[data['end_date'] < data['start_date'], 'end_date'] += pd.DateOffset(months=1)
data

,campaign_id,campaign_name,start_date,end_date,channel,impressions,spend,conversions,active,campaign_tag
0,CMP-00001,Q4_Summer_CMP-00001,2023-11-24,2023-12-13,TikTok,16795,102.82,20.0,1,TI
1,CMP-00002,Q1_Launch_CMP-00002,2023-05-06,2023-05-12,Facebook,1860,24.33,1.0,0,FA
2,CMP-00003,Q3_Winter_CMP-00003,2023-12-13,2023-12-20,Email,77820,1323.39,51.0,0,EM
3,CMP-00004,Q1_BlackFriday_CMP-00004,NaT,2023-11-03,TikTok,55886,2180.38,135.0,1,TI
4,CMP-00005,Q2_Winter_CMP-00005,2023-04-22,2023-04-23,Facebook,7265,252.44,30.0,1,FA
...,...,...,...,...,...,...,...,...,...,...
2015,CMP-00400,Q3_Summer_CMP-00400,2023-10-31,2023-11-13,TikTok,30592,503.95,77.0,1,TI
2016,CMP-01255,Q4_Summer_CMP-01255,2023-09-01,2023-09-26,Google Ads,20097,1641.00,162.0,0,GO
2017,CMP-01050,Q2_Launch_CMP-01050,2023-02-09,2023-02-21,Instagram,33254,883.82,214.0,0,IN
2018,CMP-01118,Q4_Winter_CMP-01118,2023-03-30,2023-04-27,Facebook,68728,4198.50,591.0,1,FA
2019,CMP-01554,Q4_Launch_CMP-01554,2023-06-26,2023-07-09,Email,96402,1315.59,66.0,1,EM

In [74]:
data['Active_Status'] = data['active'].map({
    1: 'Active',
    0: 'Inactive'
})
data

,campaign_id,campaign_name,start_date,end_date,channel,impressions,spend,conversions,active,campaign_tag,Active_Status
0,CMP-00001,Q4_Summer_CMP-00001,2023-11-24,2023-12-13,TikTok,16795,102.82,20.0,1,TI,Active
1,CMP-00002,Q1_Launch_CMP-00002,2023-05-06,2023-05-12,Facebook,1860,24.33,1.0,0,FA,Inactive
2,CMP-00003,Q3_Winter_CMP-00003,2023-12-13,2023-12-20,Email,77820,1323.39,51.0,0,EM,Inactive
3,CMP-00004,Q1_BlackFriday_CMP-00004,NaT,2023-11-03,TikTok,55886,2180.38,135.0,1,TI,Active
4,CMP-00005,Q2_Winter_CMP-00005,2023-04-22,2023-04-23,Facebook,7265,252.44,30.0,1,FA,Active
...,...,...,...,...,...,...,...,...,...,...,...
2015,CMP-00400,Q3_Summer_CMP-00400,2023-10-31,2023-11-13,TikTok,30592,503.95,77.0,1,TI,Active
2016,CMP-01255,Q4_Summer_CMP-01255,2023-09-01,2023-09-26,Google Ads,20097,1641.00,162.0,0,GO,Inactive
2017,CMP-01050,Q2_Launch_CMP-01050,2023-02-09,2023-02-21,Instagram,33254,883.82,214.0,0,IN,Inactive
2018,CMP-01118,Q4_Winter_CMP-01118,2023-03-30,2023-04-27,Facebook,68728,4198.50,591.0,1,FA,Active
2019,CMP-01554,Q4_Launch_CMP-01554,2023-06-26,2023-07-09,Email,96402,1315.59,66.0,1,EM,Active

In [78]:
data['channel'].map(lambda x: x.upper())

0           TIKTOK
1         FACEBOOK
2            EMAIL
3           TIKTOK
4         FACEBOOK
           ...
2015        TIKTOK
2016    GOOGLE ADS
2017     INSTAGRAM
2018      FACEBOOK
2019         EMAIL
Name: channel, Length: 1727, dtype: object

In [81]:
def spend_cat(x):
    if x < 1000:
        return 'Low'
    elif x <= 5000:
        return 'medium'
    else:
        return 'High'
data['spend_cat'] = data['spend'].apply(spend_cat)

In [85]:
numeric_data =data[['impressions','spend','conversions']]
numeric_data.applymap(lambda x: round(x, 2))

C:\Users\MRC\AppData\Local\Temp\ipykernel_9788\3566693135.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  numeric_data.applymap(lambda x: round(x, 2))

      impressions    spend  conversions
0           16795   102.82         20.0
1            1860    24.33          1.0
2           77820  1323.39         51.0
3           55886  2180.38        135.0
4            7265   252.44         30.0
...           ...      ...          ...
2015        30592   503.95         77.0
2016        20097  1641.00        162.0
2017        33254   883.82        214.0
2018        68728  4198.50        591.0
2019        96402  1315.59         66.0

[1727 rows x 3 columns]