Handling Duplicates (Pandas)

In [1]:
import pandas as pd

In [70]:
df = pd.read_csv("../DataSets/Dirty.csv")
df.head(3)

,Rank,Peak,All Time Peak,Actual gross,Adjusted gross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.
0,1,1,2,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour †,2023–2024,56,"$13,928,571",[1]
1,2,1,7[2],"$579,800,000","$579,800,000",Beyoncé,Renaissance World Tour,2023,56,"$10,353,571",[3]
2,3,1[4],2[5],"$411,000,000","$560,622,615",Madonna,Sticky & Sweet Tour ‡[4][a],2008–2009,85,"$4,835,294",[6]

In [50]:
df.columns.str.strip()
df.columns.tolist()

['Rank',
 'Peak',
 'All Time Peak',
 'Actual\xa0gross',
 'Adjusted\xa0gross (in 2022 dollars)',
 'Artist',
 'Tour title',
 'Year(s)',
 'Shows',
 'Average gross',
 'Ref.']

In [74]:
df["All Time Peak"] = df["All Time Peak"].str.extract("(\d+)")
df["All Time Peak"] = df["All Time Peak"].fillna(0).astype('int64')

In [51]:
df["Actual\xa0gross"] = df["Actual\xa0gross"].str.replace("$", "").str.replace(",","")

In [54]:
df["Actual\xa0gross"] = pd.to_numeric(df["Actual\xa0gross"], errors="coerce")
df["Actual\xa0gross"].fillna(df["Actual\xa0gross"].median())

0     780000000.0
1     579800000.0
2     411000000.0
3     397300000.0
4     345675146.0
5     305158363.0
6     280000000.0
7     257600000.0
8     256084556.0
9     250400000.0
10    253242278.0
11    227400000.0
12    204000000.0
13    200000000.0
14    194000000.0
15    184000000.0
16    170000000.0
17    169800000.0
18    253242278.0
19    150000000.0
Name: Actual gross, dtype: float64

In [ ]:
df["Peak"] = df["Peak"].str.extract("(\d+)")
df["Peak"] = df["Peak"].fillna(0).astype("int64")

In [94]:
df = df.rename(columns={'Adjusted\xa0gross (in 2022 dollars)':'num_gross'})
df = df.rename(columns={'All Time Peak':'num_peak'})
df = df.rename(columns={"Year(s)":"year's"})

In [95]:
df.columns.to_list()

['Rank',
 'Peak',
 'num_peak',
 'Actual\xa0gross',
 'num_gross',
 'Artist',
 'Tour title',
 "year's",
 'Shows',
 'Average gross',
 'Ref.']

New DataSets

In [115]:
data = pd.read_csv("../DataSets/violations.csv")
data.shape

(906014, 5)

In [121]:
data[data.duplicated(keep="last")]

,points,serial_number,violation_code,violation_description,violation_status
5681,2,DAMW4YB65,F001,# 01a. Demonstration of knowledge,OUT OF COMPLIANCE
11837,2,DAPCX5ZLD,F001,# 01a. Demonstration of knowledge,OUT OF COMPLIANCE
11838,2,DAPCX5ZLD,F001,# 01a. Demonstration of knowledge,OUT OF COMPLIANCE
25285,0,DAJQPLFHE,F050,# 51. Permit Suspension,OUT OF COMPLIANCE
44301,0,DAENAE28M,F050,# 51. Permit Suspension,OUT OF COMPLIANCE
...,...,...,...,...,...
899099,1,DAT0LN0XA,F037,# 37. Adequate ventilation and lighting; desig...,OUT OF COMPLIANCE
900558,1,DA0W3VQQQ,F043,# 43. Premises; personal/cleaning items; vermi...,OUT OF COMPLIANCE
901560,0,DA0JOOEF0,W038,Hand sink available,OUT OF COMPLIANCE
901806,1,DAHTUKJE1,F027,# 27. Food separated and protected,OUT OF COMPLIANCE
904146,1,DAAYEN0TQ,F044,"# 44. Floors, walls and ceilings: properly bui...",OUT OF COMPLIANCE

In [119]:
data[data.duplicated()]

,points,serial_number,violation_code,violation_description,violation_status
5682,2,DAMW4YB65,F001,# 01a. Demonstration of knowledge,OUT OF COMPLIANCE
11838,2,DAPCX5ZLD,F001,# 01a. Demonstration of knowledge,OUT OF COMPLIANCE
11839,2,DAPCX5ZLD,F001,# 01a. Demonstration of knowledge,OUT OF COMPLIANCE
25287,0,DAJQPLFHE,F050,# 51. Permit Suspension,OUT OF COMPLIANCE
44305,0,DAENAE28M,F050,# 51. Permit Suspension,OUT OF COMPLIANCE
...,...,...,...,...,...
899100,1,DAT0LN0XA,F037,# 37. Adequate ventilation and lighting; desig...,OUT OF COMPLIANCE
900559,1,DA0W3VQQQ,F043,# 43. Premises; personal/cleaning items; vermi...,OUT OF COMPLIANCE
901561,0,DA0JOOEF0,W038,Hand sink available,OUT OF COMPLIANCE
901807,1,DAHTUKJE1,F027,# 27. Food separated and protected,OUT OF COMPLIANCE
904147,1,DAAYEN0TQ,F044,"# 44. Floors, walls and ceilings: properly bui...",OUT OF COMPLIANCE

In [104]:
data.duplicated().sum()

np.int64(123)

In [110]:
data[data.duplicated(keep=False)]

dp_clean = data.drop_duplicates()
dp_clean.shape

(905891, 5)

In [114]:
data.shape[0] - dp_clean.shape[0]

123