Data Cleaning Practice

In [1]:
import pandas as pd

In [108]:
df = pd.read_csv("../DataSets/Dirty.csv")

df.duplicated().sum()
df.drop_duplicates()
df = df.rename(columns={"All Time Peak":"Time_Peak"})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 11 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Rank                              22 non-null     int64
 1   Peak                              9 non-null      object
 2   Time_Peak                         6 non-null      object
 3   Actual gross                      22 non-null     object
 4   Adjusted gross (in 2022 dollars)  22 non-null     object
 5   Artist                            22 non-null     object
 6   Tour title                        22 non-null     object
 7   Year(s)                           22 non-null     object
 8   Shows                             22 non-null     int64
 9   Average gross                     22 non-null     object
 10  Ref.                              22 non-null     object
dtypes: int64(2), object(9)
memory usage: 2.0+ KB

In [109]:
df["Time_Peak"] = df["Time_Peak"].str.extract("(\d+)")
df["Time_Peak"] = df["Time_Peak"].fillna(0).astype(int)

In [110]:
df["Peak"] = df["Peak"].str.extract("(\d+)")
df["Peak"]  = df["Peak"].fillna(0).astype(int)

In [111]:
df.columns.str.strip()
df.columns.tolist()

['Rank',
 'Peak',
 'Time_Peak',
 'Actual\xa0gross',
 'Adjusted\xa0gross (in 2022 dollars)',
 'Artist',
 'Tour title',
 'Year(s)',
 'Shows',
 'Average gross',
 'Ref.']

In [112]:
df = df.rename(columns={"Actual\xa0gross":"Actual_gross"})
df = df.rename(columns={"Adjusted\xa0gross (in 2022 dollars)":"Adjusted_gross"})

In [113]:
df.head()

,Rank,Peak,Time_Peak,Actual_gross,Adjusted_gross,Artist,Tour title,Year(s),Shows,Average gross,Ref.
0,1,1,2,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour †,2023–2024,56,"$13,928,571",[1]
1,2,1,7,"$579,800,000","$579,800,000",Beyoncé,Renaissance World Tour,2023,56,"$10,353,571",[3]
2,3,1,2,"$411,000,000","$560,622,615",Madonna,Sticky & Sweet Tour ‡[4][a],2008–2009,85,"$4,835,294",[6]
3,4,2,10,"$397,300,000","$454,751,555",Pink,Beautiful Trauma World Tour,2018–2019,156,"$2,546,795",[7]
4,5,2,0,"$345,675,146","$402,844,849",Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173",[8]

In [114]:
df["Actual_gross"].str.replace("$","").str.replace(",","")

0        780000000
1        579800000
2        411000000
3        397300000
4        345675146
5        305158363
6        280000000
7        257600000
8        256084556
9        250400000
10    229100000[b]
11       227400000
12       204000000
13       200000000
14       194000000
15       184000000
16       170000000
17       169800000
18    167700000[e]
19    167700000[e]
20       150000000
21       150000000
Name: Actual_gross, dtype: object

In [ ]:
df["Actual_gross"] = df["Actual_gross"].str.replace("[^0-9]","", regex=True)
df['Actual_gross'] = pd.to_numeric(df['Actual_gross'], errors='coerce')

0     780000000
1     579800000
2     411000000
3     397300000
4     345675146
5     305158363
6     280000000
7     257600000
8     256084556
9     250400000
10    229100000
11    227400000
12    204000000
13    200000000
14    194000000
15    184000000
16    170000000
17    169800000
18    167700000
19    167700000
20    150000000
21    150000000
Name: Actual_gross, dtype: int64